body{
  height: 1000px;
  margin-left: 100px;
  margin-right: 100px;
  
}

header{
  position: fixed;
  width: 1200px;;
  border-radius: 5px;
  color: #fff;
  background-color: blueviolet;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

div.layout{
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;
  font-size: larger;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3{
  font-size: larger;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}

nav.content{
  font-size: larger;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 0 auto;
  display: flex;
  margin-right: 10px;
  text-align:start;
}

header nav ul li {
  overflow: hidden;
  list-style: none;
  float: left;
}

    header nav ul li a{
      display: block;
      padding: 5px;
      text-decoration: none;
      color:#fff
    }
      header nav ul li a:hover{
        background-color: rgb(70, 15, 121);
      }

section{
  display: block;
  margin-left: 50px;
  padding-top: 100px;
  align-items: start;
}